*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5E5FC;
    display: flex;
    

}
.container {
    max-width: 800px;
    height: auto;
    padding: 20px;
    margin:400px auto;
    background-color: #B28B84;
    text-align: center;
    border-radius: 20px;
}
.container h2 {
    font-size:25px;
    padding: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 600;

}
.container p {
    display: block;
    padding-bottom: 10px;
    font-size:25px;
    font-family: sans-serif;
    font-weight: 600;

}
.btn {
    font-size: 20px;
    display: inline;
    padding: 10px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #48B8D0;
    cursor: pointer;
    color: #fff;
    transition:.6s;


}
.btn:hover {
    background-color: #337b8b;
    transition:.6s;

}